<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="gmail.id" value="img.music@gmail.com"/>
    <add key="gmail.pwd" value="Missionimg201617"/>

    <!--<add key="gmail.id" value="gwa.kannan@gmail.com"/>
    <add key="gmail.pwd" value="gmail@123"/>-->
  </appSettings>
</configuration>