<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="AdminEmail" value="harshalinfo@gmail.com"/>
  <add key="password" value="h@r$h@l25"/>
  <add key="subject" value="Reg expiration remainder"/>
  <add key="basePath" value="d:\HtmlTemplates\"/>
</appSettings>
</configuration>