<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Dear &nbsp;{name},
<br/>
  <img 
  src="https://drive.google.com/uc?id=0B7j5sCSdckPFZFEyNk12M2FfbWpjVHN5R21feE13aWZqNVQ4"
  style="width:500px;height:200px"
       >
<p>
    The Indian Music Group would like
    to remind you that your
    annual membership with the
    IMG registered on {registrationDate}
    having membership number {Id} 
   {expiryDayType} expired on {expiryDate}.

</p>
    <br />
    <p>We hope that you had a memorable and melodious year with the IMG. To continue this musical journey, visit the IMG Library to renew your membership.</p>
    <br />
    <br />
    Thanks and Regards,<br />
    Executive Committee (2016-17)
    <br />
    <br />
    Indian Music Group<br />
    St Xavier's College<br />
    5, Mahapalika Marg<br />
    Mumbai, 400001<br />
    <br /><br />
    Contact: 022-22634548<br />
    Facebook: https://facebook.com/indianmusicgroup <br />
    Twitter: http://twitter.com/img_xaviers <br />
</body>
</html>